@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;700&display=swap");
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  background: linear-gradient(
    0.3turn,
    rgba(255, 255, 255, 0.959),
    rgba(160, 221, 245, 0.884),
    rgba(85, 255, 246, 0.493)
  );
}

.title-container {
  padding: 20px;
  position: absolute;
}

h1 {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 5px;
  font-size: 70px;
  margin: 10px;
  background-image: linear-gradient(
    60deg,
    rgb(214, 255, 253),
    rgb(189, 255, 252)
  );
  background-clip: text;
  color: transparent;
}

h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  margin: 10px;
  color: rgba(214, 255, 253, 0.945);
}
